body{
    font-family: 'Lato', sans-serif;
}
.container{
    width: 1200px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;

}
.left{
    width: 25%;
    margin: auto;

}
.left img{
    width: 50%;
}
